# Default values for zigflow.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- Number of replicas
replicaCount: 1

# -- Accepts any of the command line arguments
config:
  log-level: info
  # temporal-address: temporal:7233

# -- Additional environment variables
envvars:
  # - name: TEMPORAL_ADDRESS
  #   valueFrom:
  #     secretKeyRef:
  #       name: temporal-config
  #       key: address
  # - name: TEMPORAL_API_KEY
  #   valueFrom:
  #     secretKeyRef:
  #       name: temporal-config
  #       key: api-key
  # - name: TEMPORAL_NAMESPACE
  #   valueFrom:
  #     secretKeyRef:
  #       name: temporal-config
  #       key: namespace
  # - name: TEMPORAL_TLS
  #   value: "true"
  # - name: LOG_LEVEL
  #   value: trace
  # - name: ZIGGY_EXAMPLE_ENVVAR
  #   value: some-value

workflow:
  # -- Don't add a workflow to the deployment. Useful if you have built an image with the workflow embedded
  enabled: true
  # -- Use the inline workflow. If false, you must declare a secret with the workflow in <code>workflow.yaml</code>
  useInline: true
  # -- Name of the secret containing <code>workflow.yaml</code>
  secret: workflow
  # -- Location the workflow volumes is mapped
  file: /data/workflow.yaml
  # -- Workflow YAML
  inline:
    document:
      dsl: 1.0.0
      namespace: zigflow
      name: simple-workflow
      version: 1.0.0
    do:
      - set:
          output:
            as:
              data: ${ . }
          set:
            message: Hello from Ziggy


image:
  # -- Image repositiory
  repository: ghcr.io/mrsimonemms/zigflow
  # -- Image pull policy
  pullPolicy: IfNotPresent
  # -- Image tag - defaults to the chart's <code>Version</code> if not set
  tag: ""

# -- Docker registry secret names
imagePullSecrets: []
# -- String to partially override name
nameOverride: ""
# -- String to fully override names
fullnameOverride: ""

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- Automatically mount a ServiceAccount's API credentials?
  automount: true
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use. If not set and create is true, a name is generated using the fullname template
  name: ""

# -- Pod <a href="https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations" target="_blank">annotations</a>
podAnnotations: {}
# -- Pod <a href="https://kubernetes.io/docs/concepts/overview/working-with-objects/labels" target="_blank">labels</a>
podLabels: {}

# -- Pod's <a href="https://kubernetes.io/docs/tasks/configure-pod-container/security-context" target="_blank">security context</a>
podSecurityContext: {}

# -- Container's security context
securityContext: {}

service:
  # -- Service type
  type: ClusterIP
  health:
    # -- Health service port
    port: 3000
  metrics:
    # -- Metrics service port
    port: 9090

# -- Configure resources available
resources: {}

livenessProbe:
  httpGet:
    # -- Path to demonstrate app liveness
    path: /health
    # -- Port to demonstrate app liveness
    port: health
readinessProbe:
  httpGet:
    # -- Path to demonstrate app readiness
    path: /health
    # -- Port to demonstrate app readiness
    port: health

autoscaling:
  # -- Autoscaling enabled
  enabled: false
  # -- Minimum replicas
  minReplicas: 1
  # -- Maximum replicas
  maxReplicas: 100
  # -- When to trigger a new replica
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# -- Additional volumes on the output Deployment definition.
volumes: []

# -- Additional volumeMounts on the output Deployment definition.
volumeMounts: []

# -- Node selector
nodeSelector: {}

# -- Node toleration
tolerations: []

# -- Node affinity
affinity: {}
